.animeEpisode {
  //   margin-top: 8rem;
  height: 600px;
  // background-color: red;
  &__notFound {
    width: 300px;
    height: 50%;
  }
  &__message {
    color: #fff;
    font-size: 2rem;
  }
}
