@import "../../assets/styles/_variable.scss";
@import "../../assets/styles/mixin";

.cardContainer {
  height: 100%;
  width: 75%;
  background-color: transparent;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s !important;
  box-shadow: 3px 10px 32px 7px rgba(255, 255, 255, 0.1);
  color: #fff;
  &__details {
    font-size: 1.7rem;
    max-height: 50px;
    min-height: 50px;
  }
  &:hover &__playBtn {
    display: block;
  }
  &:hover {
    color: #fff;
  }
  &__playBtn {
    display: none;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }

  &__img {
    object-fit: cover;
    aspect-ratio: 2/3;
  }
  &__episode {
    border: 1px solid tomato;
    background-color: tomato;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 1.5rem;
  }
}
.overlay::before {
  z-index: 20;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
