@import "../../assets/styles/_variable.scss";
@import "../../assets/styles/mixin";

.navBar {
  height: 80px;
  // overflow: hidden;
  font-size: 1.6rem;
  z-index: 550;
  justify-content: space-around;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  @include mobile {
    justify-content: space-around !important;
  }
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
    z-index: -1;
  }
  .bi-list {
    color: $icon-color;
    font-size: 4rem;
    display: none;
    cursor: pointer;
    @include mobile {
      display: block;
    }
  }
  &__list {
    display: flex;
    width: 50%;
    font-family: "M PLUS Rounded 1c", sans-serif;
    @include mobile {
      display: none;
    }
    @include tablet {
      font-size: 1.5rem;
    }
    li a {
      color: #fff;
      font-weight: 500;
    }
    .active {
      border-bottom: 5px solid $icon-color;
      border-radius: 10px;
      padding: 5px;
    }
  }
  &__logo {
    font-family: SVN-Kashima Brush;
    font-weight: bold;
    color: $icon-color;
    font-size: 4rem;
    &:hover {
      color: $acive-color;
    }
  }
  .user {
    position: relative;
    color: #fff;
    cursor: pointer;
    .bi-person-circle {
      color: $icon-color;
      font-size: 4rem;
    }
    &__img {
      width: 4.3rem;
      height: 4.3rem;
      overflow: hidden;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
    }
    &__dropdown {
      color: #fff;
      display: none;
      position: absolute;
      z-index: 99999;
      top: 84%;
      right: 0;
      width: 100px;
      height: 100px;
      border-radius: 10px;
      transition: all 0.5s;
      background-color: #0a0b0b;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      a:hover {
        color: $icon-color;
      }
    }
  }
}
