@import "../../assets/styles/mixin";

.carouselMain {
  z-index: 100;
  height: 40%;
  margin-top: 2.5rem;
  position: relative;
  .cardWrapper {
    position: relative;
  }
  .slick-list {
    overflow: visible !important;
  }

  // .controller {
  //   height: 50px;
  //   top: 20%;
  //   z-index: 5;
  //   @include desktop {
  //     left: 38.6%;
  //     width: 23%;
  //     top: 10%;
  //   }
  //   @include tablet {
  //     width: 36%;
  //     top: 5%;
  //     left: 32%;
  //   }
  //   @include mobile {
  //     width: 40%;
  //     left: 30%;
  //     top: 5%;
  //   }
  //   @include mobileSmall {
  //     width: 100%;
  //     left: 0;
  //   }
  // }
}
.slick-prev,
.slick-next {
  display: none !important;
}
