@import "../../assets/styles/mixin";

.carouselMain {
  z-index: 100;
  height: 40%;
  margin-top: 2.5rem;
  position: relative;
  .cardWrapper {
    position: relative;
  }
  .slick-list {
    overflow: visible !important;
  }

  .Prev {
    left: 31%;
    @include desktop {
      left: 39%;
    }
    @include tablet {
      left: 32%;
    }
    @include mobile {
      left: 29%;
    }
    @include mobileSmall {
      left: 0%;
    }
  }
  .Next {
    left: 64%;
    @include desktop {
      left: 58%;
    }
    @include tablet {
      left: 63%;
    }
    @include mobile {
      left: 63%;
    }
    @include mobileSmall {
      left: 87%;
    }
  }
}
.carouselSection {
  width: 100%;
  max-width: 100%;
  // background-color: tomato;
  position: relative;
  .Next {
    right: 5%;
    top: -20%;
  }
  .Prev {
    right: 10%;
    top: -20%;
  }
}
.slick-prev,
.slick-next {
  display: none !important;
}
