@import "./assets/styles/_variable.scss";
.Anime-app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $background-color;
  &__overlay {
    z-index: 600;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $icon-color;
  border-radius: 15px;
}
::-webkit-scrollbar-corner {
}
